.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    font-family: "Poppins";
    h2{ 
      color: #fa541c;
      font-size: 39px;
    }
    p {
      font-size: 14px;
      color: #637381;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
      .messege {
        width: 600px;
        height: 128px;
        background: rgba(145, 158, 171, 0.08);
        border-radius: 8px;
        border-color: rgba(145, 158, 171, 0.08);
        font-size: 20px;
      }
      .send {
        width: 200px;
        height: 48px;
        background: #fa541c;
        border-radius: 8px;
        color: white;
        border-color: #fa541c;
        cursor: pointer;
        align-items: center;
        font-size: 20px;
        margin-left: 210px;
        
      }
      input {
        border-color: rgba(145, 158, 171, 0.08);
        width: 600px;
        height: 56px;
        background: rgba(145, 158, 171, 0.08);
        border-radius: 8px;
        color: #637381;
        padding-left: 10px;
        font-size: 20px;
      }
    }
  }



  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .wrapper {
      text-align: center;
      form {
          align-items: center;
        input {
          width: 335px;
          height: 56px;
        }
        .messege {
          width: 335px;
          height: 56px;
        }
        .send{ 
          align-items: center;
          display: flex;
          justify-content: center;
          
        }
      }
    }
  }
  