.App{ 
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  scrollbar-width:none ;
  background: url("./Assets/bg.jpeg");
  color: white;
  &::-webkit-scrollbar{ 
    display: none;
  }
}
.container{ 
  width: 80%;
}