.wrapper {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.navbar_wrapper {
  display: flex;
  justify-content: center;
}
.container {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.links {
  display: flex;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}
.list {
  display: flex;
  gap: 20px;
}
.ikons {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  div {
    button {
      width: 100px;
      padding: 10px;
      background-color: #da4ea2;
      color: white;
      border-radius: 15px;
      border: none;
      cursor: pointer;
    }
  }
}
.heros {
  height: 100vh;
  width: 1400px;
  display: flex;
  justify-content: space-between;
  scroll-snap-align: center;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 31px;
}
.left_text {
  display: flex;
  gap: 10px;
  align-items: center;
  img {
    width: 60px;
    height: 10px;
  }
  h3 {
    color: #da4ea2;
    font-size: 28px;
  }
}
.left_end {
    h2{ 
        font-size: 29px;
    }
  button {
    background-color: #da4ea2;
    color: white;
    font-weight: 500;
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
  }
}
.right {
    position: relative;
    align-content: center;
    display: flex;
    width: 100%;
    justify-content: center;
    .image3d{ 
      display: flex;
      align-content: center;
      width: 100%;
    }

  img {
    user-select: none;
    animation: animate 2s infinite ease alternate;
    @keyframes animate {
        to{ 
          transform: translateY(70px);
        }
    }
    width: 800px;
    height: 600px;
    object-fit: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100;
    right: 0;
    margin: auto;
  }
}
